@font-face {
 font-family:'HelveticaNeueLTStd';
 src:url("fonts/3544CD_1_0.eot");
 src:url("fonts/3544CD_1_0.eot?#iefix") format("embedded-opentype"),url("fonts/3544CD_1_0.woff2") format("woff2"),url("fonts/3544CD_1_0.woff") format("woff"),url("fonts/3544CD_1_0.ttf") format("truetype");
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:'HelveticaNeueLTStd';
 src:url("fonts/3544CD_3_0.eot");
 src:url("fonts/3544CD_3_0.eot?#iefix") format("embedded-opentype"),url("fonts/3544CD_3_0.woff2") format("woff2"),url("fonts/3544CD_3_0.woff") format("woff"),url("fonts/3544CD_3_0.ttf") format("truetype");
 font-weight:normal;
 font-style:italic
}
@font-face {
 font-family:'HelveticaNeueLTStd';
 src:url("fonts/3544CD_2_0.eot");
 src:url("fonts/3544CD_2_0.eot?#iefix") format("embedded-opentype"),url("fonts/3544CD_2_0.woff2") format("woff2"),url("fonts/3544CD_2_0.woff") format("woff"),url("fonts/3544CD_2_0.ttf") format("truetype");
 font-weight:600;
 font-style:normal
}
@font-face {
 font-family:'HelveticaNeueLTStd';
 src:url("fonts/3544CD_0_0.eot");
 src:url("fonts/3544CD_0_0.eot?#iefix") format("embedded-opentype"),url("fonts/3544CD_0_0.woff2") format("woff2"),url("fonts/3544CD_0_0.woff") format("woff"),url("fonts/3544CD_0_0.ttf") format("truetype");
 font-weight:600;
 font-style:italic
}

body {
    background: white;
    font-family: HelveticaNeueLTStd;
}
#title {
    position: absolute;
    left: 30px;
    font-weight: bold;
}
#content {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    overflow: hidden;
}
svg {
    font: 10px "HelveticaNeueLTStd" sans-serif;
    /*border: 5px dotted red;*/
    box-sizing: border-box;
}
svg g.item circle {
    fill: lightgray;
}

svg g.item text {
    visibility: hidden;
    fill: lightgray;
    font: 10px "HelveticaNeueLTStd" sans-serif;
}

svg g.item.active text {
    visibility: visible !important;
    font-weight: bold;
    cursor: pointer !important;
}

svg g.item.active circle, svg g.item.mouse circle {
    fill: black;
}

svg g.item.mouse text {
    visibility: visible !important;
    font-weight: bold;
    fill: black;
    cursor: pointer !important;
}

div#facets {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}
#text {
    font-size: 12px;
}

svg .debug {
    display: none;
/*    stroke: red;
    fill: none;
*/
}

g.facet.active g.facetlabel {
    pointer-events: none;
}

/*g#facets g.facet0 */
/* GROUPS HAVE COLOR WHEN HIGHLIGHTED */
g#facet0 rect, g#facet0 g.facetlabel.highlight text {
    fill: rgb(110, 64, 170);
    font-weight: bold;
}

g#facet1 rect, g#facet1 g.facetlabel.highlight text {
    fill: rgb(238, 67, 149);
    font-weight: bold;
}

g#facet2 rect, g#facet2 g.facetlabel.highlight text {
    fill: rgb(255, 140, 56);
    font-weight: bold;
}

/* UNLESS INSIDE AN ACTIVE FACET */
g.facet.active g.facetlabel.highlight text {
    fill: black !important;
}

g.facet.expanded g.facetlabel text {
    fill: gray;
}
g.facet.expanded g.facetlabel.expanded text {
    fill: black;
}
g.facet.expanded g.facetlabel.mouse2 text {
    fill: gray;
}
g.facet.expanded g.facetlabel.mouse text {
    fill: black;
}

/*
g.mouse g.facetlabel text {
    fill: black;
}
g.facetlabel.mouse text {
    fill: black;
}
*/

/*svg g.item.highlight circle {
    fill: red;
}
*/
svg g.facet0 g.item.highlight circle {
    fill: rgb(110, 64, 170) !important;
}
svg g.facet1 g.item.highlight circle {
    fill: rgb(238, 67, 149) !important;
}
svg g.facet2 g.item.highlight circle {
    fill: rgb(255, 140, 56) !important;
}


circle.layout {
    stroke: none;
    fill: white;
}
/* for debugging */
/*
circle.layout.mouse {
    stroke: black;
}
*/

/* g.value = FACET LABEL */
/*
g.facetlabel.mouse a text {
    fill: gray;
    transform: scale(1.5);
    transition-duration: 0.25s;
}
*/

#textbox {
    position: absolute;
    left: 50px;
    top: 450px;
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
}
#textbox .contents {
    position: absolute;
    max-width: 50vw;
    /*min-width: 16em;*/
    width: 24em;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 23px;
    /*padding-bottom: 18px;*/
    margin-top: -10px;
    margin-bottom: -18px;
    /*pointer-events: none;*/
}
#textbox .title {
    font-weight: bold;
}
#textbox.bottom .contents {
    bottom: 0;
    /*bottom: -13px;*/
    flex-direction: column-reverse;
}
#textbox.top .contents {
    /*top: -10px;*/
    top: 0px;
}
#textbox.left .contents {
    /*left: 12px;*/
    left: 0;
}
#textbox.right .contents {
    text-align: right;
    /*right: 14px;*/
    right: 0;
}
#textbox .title {
    line-height: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background: #FFFFFFAA;
}
#textbox .contents .body {
   line-height: 1em;        /* fallback */
   max-height: 12em;       /* fallback */

    overflow-y: hidden; /* use auto to have scrolling */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: none;
    background: #FFFFFFAA;
}

#textbox.active .contents .body {
    display: block;
    pointer-events: all;
}

#textbox .contents div.link {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: none;
}
#textbox.active .contents div.link {
    display: block;
}

#textbox .link a.link {
    outline: none;
    color: white;
    background: black;
    padding: 1px;
    text-decoration: none;
    pointer-events: all;
}
#textbox .link a.link:hover {
    border: 1px solid black;

}


#facetbuttons {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
#facetbuttons div.facetbutton {
    position: absolute;
}
#facetbuttons div.facetbutton a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
#facetbuttons div.facetbutton a:hover {
    text-decoration: underline;
}
